<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop.xsd
              http://www.springframework.org/schema/context
              http://www.springframework.org/schema/context/spring-context-4.3.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-4.3.xsd" >
       <!-- 读取属性文件 -->
       <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
       		<property name="location" value="classpath:db.properties"/>
       </bean>
              
       <!-- 配置连接数据库的数据源(dbcp),可以配置多个数据源对象，id不同即可 -->
       <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
       		<property name="driverClassName" value="${driver}" />
       		<property name="url" value="${url}" />
       		<property name="username" value="${username}" />
       		<property name="password" value="${password}" />
       </bean>
       <!-- 配置sqlSessionFactory -->
       <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
       		<!-- 引用上述数据源 -->
       		<property name="dataSource" ref="dataSource" />
       		<property name="configLocation" value="classpath:SqlMapConfig.xml" />
       </bean>
       
       <!-- 配置sqlSessionTemplate -->
       <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
       		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
       </bean>

       <!-- 批量生产实现类（实现类不用写了），扫描全部Mapper接口，其id为Mapper接口类名是首字母小写UserMapper.java的id为 userMapper-->
       <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
       	<!-- mapper为Mapper接口所在的包路径，扫描此包下所有Mapper接口 -->
       		<property name="basePackage" value="com.jgs1902.dao.mapper"></property>
       </bean>
       
       <!-- 使用注解的方式创建dao和service实例对象 -->
       <context:component-scan base-package="com.jgs1902.service.impl,com.jgs1902.controller" />
       
       <!-- 定义事务管理器 -->
       <bean id="txManager" 
       		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
       		<property name="dataSource" ref="dataSource" />
       </bean>

             
       <!-- 注解的方式配置,配置事务管理器，开启注解，适合方法较少时使用 -->
       <tx:annotation-driven transaction-manager="txManager"/>
</beans>